.vagrant
Berksfile.lock
Gemfile.lock
*~
*#
.#*
\#*#
.idea/
.*.sw[a-z]
*.un~
*.gem
/cookbooks
.kitchen/
.kitchen.local.yml
.DS_Store
helpers/chef_generator/logstash/
helpers/chef_generator/logstash.tar.gz
coverage
